.map
    #map-container
    .location-bg
    .page-block
        A(href="https://www.google.com.ua/maps/place/Halytska+St,+10,+L'viv,+Lviv+Oblast", target="_blank")
        .location-info.static
            include _location
            br
            br
            | LVIV, GALYTSKA STR. 10