extends _layout

block page
    -var thumbnails = video.thumbnails
    -var hiRes = thumbnails.maxres || thumbnails.standard || thumbnails.high
    .video-cnt.with-pattern.absolute(
        style="background-image: url(#{hiRes.url})", data-video-id=videoId)
            #ytplayer
    .page-content.full-height
        .page-block.full-height
            A(href="#").start-video-clicker
            .location-info.static
                include _location